:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d4e5e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Nav-bar styling  */
.navBar{
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  /* height: 2%; */
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  padding: .2rem;
  border-bottom: 1px solid lightgray;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 10%;
  border: 0.5px solid #1a1a1a;
}

.profilePicDiv {
  /* border: 1px solid white; */
  width: 8%;
}

.devName {
  /* border: 1px solid white; */
  padding: 0;
}

.devName p {
  color: #1a1a1a;
  font-weight: 500;
  font-size: x-large;

}

.ulDiv {
  /* border: 1px solid white; */
  width: 35%;
}

.ulNav {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.ulNav li {
  list-style: none;
}

.ulNav li a {
  color: #1a1a1a;
  font-weight: 500;
  text-decoration: none;
}

.ulNav li a:hover {
  color: #535bf2;
  text-decoration: underline;
}

hr {
  background: linear-gradient(to right, red, yellow);
  height: 5px;
  width: 95%;
}

@media screen and (max-width: 800px) {
  .profilePicDiv {
    display: none;
  }

  .navBar {
    justify-content: space-around;
  }

  .ulNav li {
    padding-left: 10%;
  }
}

@media screen and (max-width: 430px){
  .devName {
    display: none;
  }

  .navBar {
    justify-content: space-around;
  }

  .ulNav li {
    padding-left: 20%;
  }

}